<% if notice %><p class="flash flash-green"><%= notice %></p><% end %>

<h2>タイトル: <%= @post.title %></h2>
<p><strong>投稿内容:</strong> <%= @post.comment %></p>

<p>
  ★ <%= @post.favorites.count %>
  <% if user_signed_in? %>
    <% if current_user.favorites.exists?(post: @post) %>
      <%= button_to "お気に入りを外す", favorite_path(id: 0, post_id: @post.id),
                    method: :delete, params: { post_id: @post.id }, class: "link-like" %>
    <% else %>
      <%= button_to "お気に入り", favorites_path, params: { post_id: @post.id }, class: "link-like" %>
    <% end %>
  <% end %>
</p>

<%= link_to "投稿一覧へ戻る", posts_path %> |
<%= link_to "投稿を編集", edit_post_path(@post) %> |
<%= button_to "投稿を削除", @post, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %>
