<h1>ユーザー情報編集</h1>

<%= form_with model: @user, url: mypage_path(@user), method: :put, local: true do |f| %>
  <p><%= f.label :name, "名前" %><br><%= f.text_field :name %></p>
  <p><%= f.label :icon, "アイコン画像" %><br><%= f.file_field :icon, direct_upload: true %></p>
  <%= f.submit "更新", class: "btn" %>
<% end %>

<p><%= link_to "マイページへ戻る", mypage_path(@user) %></p>
