<h1>投稿一覧</h1>

<%= link_to "新規投稿", new_article_path %>

<table border="1">
  <tr>
    <th>タイトル</th>
    <th>投稿内容</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.content %></td>
    </tr>
  <% end %>
</table>

<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="flash-alert"><%= flash[:alert] %></p>
<% end %>
